<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <div style="..." class="nav flex-column nav-pills" aria-orientation="vertical">
              <a th:href="@{/}" style="..." class="nav-link text-primary">대시보드</a>
              <a th:href="@{/mypage}" style="..." class="nav-link text-primary">마이페이지</a>
              <a th:href="@{/messages}" style="..." class="nav-link text-primary">메시지</a>
              <a th:href="@{/config}" style="..." class="nav-link text-primary">환경설정</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<div class="page-content text-center">
  <div class="error-wrapper">
    <img src="./img/img-session.png" />
    <h3>세션이 만료되었습니다</h3>
    <p>
      세션이 만료되었습니다.<br />
      다시 로그인 해 주시기 바랍니다.
    </p>
    <a href="/" class="go-back">홈으로</a>
  </div>
</div>
<div th:replace="layout/footer::footer"></div>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>