<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{security/login}" method="post">
	<div>
		<label>Username</label>
		<input type="text" name="username" required="required"/>
	</div>
	<div>
		<label>Password</label>
		<input type="password" name="password" required="required"/>
	</div>
	<div>
		<button type="submit">Login</button>
	</div>
</form>
</body>
</html>
















<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="layout/header::userHead"></head>-->
<!--<body>-->
<!--<div th:replace="layout/top::header"></div>-->
<!--	&lt;!&ndash; 서브페이지 로고, 로그인, 검색 공통부 header 끝&ndash;&gt;-->
<!--	<input th:value="${msg}" type="text" id="loginRslt" hidden="true" />-->
<!--	<div class="login-box">-->
<!--		<form action="#" th:action="@{/loginBack}" name="f" method="post">-->
<!--			<div class="title">-->
<!--				<h1>LOG IN</h1>-->
<!--			</div>-->
<!--			<div>-->
<!--				<img th:src="@{/img/admin/ico-id.png}" />-->
<!--				<input type="text" spellcheck="false" placeholder="아이디를 입력하세요" id="username" name="username" th:value="${username}" onkeyup="showClrUsrNm()" required/>-->
<!--			</div>-->
<!--			<div>-->
<!--				<img th:src="@{/img/admin/ico-pwd.png}" />-->
<!--				<input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required/>-->
<!--			</div>-->
<!--			<button type="submit"><img th:src="@{/img/admin/logo-swb.svg}" />로그인</button>-->
<!--		</form>-->
<!--	</div>-->
<!--	<div class="div_login_error">-->
<!--		<div th:if="${errMsg}" class="btn btn-outline-danger">-->
<!--			<span th:text="${errMsg}" />-->
<!--		</div>-->
<!--		<div th:if="${param.logout} and ${#strings.isEmpty(errMsg)}"-->
<!--			class="btn btn-outline-success">로그아웃 되었습니다.</div>-->
<!--		<div th:if="${param.error} and ${#strings.isEmpty(errMsg)}"-->
<!--			class="btn btn-outline-danger">사용자 계정과 비밀번호를 확인해주세요.</div>-->
<!--	</div>-->

<!--	<div class="sub-section login">-->
<!--		<div class="login-con">-->
<!--			<div class="login-logo">-->
<!--				<a th:href="@{./loginBack}"> <img-->
<!--					th:src="@{/img/logo/logo-kor.png}" alt="User Avatar">-->
<!--				</a>-->
<!--			</div>-->
<!--			<div class="login-bg"></div>-->
<!--			<div class="login-form">-->
<!--				<form action="#" th:action="@{/loginBack}" name="f" method="post">-->
<!--					<input type="text" id="username" name="username"-->
<!--						th:value="${username}" onkeyup="showClrUsrNm()"-->
<!--						placeholder="아이디 입력" required> <input type="password"-->
<!--						id="password" name="password" placeholder="비밀번호 입력" required>-->
<!--					<button type="submit" class="btn-login">로그인</button>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->


<!--	<script th:src="@{/js/security/login.js}"></script>-->

<!--	<script th:if="${errorMessage}" th:inline="javascript">-->
<!--		alert("sso로그인에 실패하였습니다. admin로그인으로 해주세요.");-->
<!--	</script>-->
<!--<head th:replace="layout/footer::footer"></head>-->
<!--</body>>-->
<!--</html>-->
