<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header::userHead"></head>
<body>
<div th:replace="layout/top::header"></div>
<div class="container">
    <div class="row align-times-start">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <div class="nav flex-column nav-pills" aria-orientation="vertical">
                            <a th:href="@{/}" class="nav-link text-primary">대시보드</a>
                            <a th:href="@{/mypage}" class="nav-link text-primary">마이페이지</a>
                            <a th:href="@{/messages}" class="nav-link text-primary">메시지</a>
                            <a th:href="@{/config}" class="nav-link text-primary">환경설정</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col">
            <div class="container text-center">
                <h1 class="text-primary">여기는 Message 입니다.</h1>
            </div>
        </div>
    </div>
</div>
<head th:replace="layout/footer::footer"></head>
</body>
</html>